In [1]:
import pandas as pd
import numpy as np
import datetime

import matplotlib.pyplot as plt
import seaborn as sns
from jupyterthemes import jtplot
jtplot.style(grid=False)

# set figure size
plt.rcParams["figure.figsize"] = (10,8)

# specify decimal places to display
pd.set_option('display.float_format', lambda x: '%.2f' % x)

The end result of this exercise should be a file named prepare.py.

Using your store items data:

In [34]:
sales = pd.read_csv('sales.csv',index_col=0)
stores = pd.read_csv('stores.csv', index_col=0)
items = pd.read_csv('items.csv', index_col=0)

In [22]:
sales

        item  sale_amount                      sale_date  sale_id  store
0          1        13.00  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1          1        11.00  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2          1        14.00  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3          1        13.00  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4          1        10.00  Sat, 05 Jan 2013 00:00:00 GMT        5      1
...      ...          ...                            ...      ...    ...
912995    50        63.00  Wed, 27 Dec 2017 00:00:00 GMT   912996     10
912996    50        59.00  Thu, 28 Dec 2017 00:00:00 GMT   912997     10
912997    50        74.00  Fri, 29 Dec 2017 00:00:00 GMT   912998     10
912998    50        62.00  Sat, 30 Dec 2017 00:00:00 GMT   912999     10
912999    50        82.00  Sun, 31 Dec 2017 00:00:00 GMT   913000     10

[913000 rows x 5 columns]

In [35]:
store_items = sales.merge(stores, left_on='store',right_on='store_id')
store_items = store_items.merge(items, left_on='item', right_on='item_id')
store_items = store_items.drop(columns=['item','store'])
store_items.head()

,sale_amount,sale_date,sale_id,store_address,store_city,store_id,store_state,store_zipcode,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,13.00,"Tue, 01 Jan 2013 00:00:00 GMT",1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,11.00,"Wed, 02 Jan 2013 00:00:00 GMT",2,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,14.00,"Thu, 03 Jan 2013 00:00:00 GMT",3,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,13.00,"Fri, 04 Jan 2013 00:00:00 GMT",4,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,10.00,"Sat, 05 Jan 2013 00:00:00 GMT",5,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013

### 1. Convert date column to datetime format.

In [36]:
store_items.sale_date = store_items.sale_date.str.replace('GMT','')

In [37]:
store_items.sale_date = store_items.sale_date.str.slice(start=4)

In [42]:
store_items.sale_date = pd.to_datetime(store_items.sale_date)
store_items.sale_date

0        2013-01-01
1        2013-01-02
2        2013-01-03
3        2013-01-04
4        2013-01-05
            ...
912995   2017-12-27
912996   2017-12-28
912997   2017-12-29
912998   2017-12-30
912999   2017-12-31
Name: sale_date, Length: 913000, dtype: datetime64[ns]

### 2. Plot the distribution of sale_amount and item_price.

### 3. Set the index to be the datetime variable.

### 4. Add a 'month' and 'day of week' column to your dataframe.

### 5. Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.

### 6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

## Using the OPS data acquired in the Acquire exercises opsd_germany_daily.csv, complete the following:

### 1. Convert date column to datetime format.

### 2. Plot the distribution of each of your variables.

### 3. Set the index to be the datetime variable.

### 4. Add a month and a year column to your dataframe.

### 5. Fill any missing values.

### 6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.